header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.heading {
    order: 1;
    background: url(../assets/5DEDE4B4-ECF8-48E7-A2B5-7F65367B3830.jpeg);
    background-repeat: no-repeat;
}

h1 {
    font-size: 6rem;
    text-align: right;
    padding: 0 40px;
    margin: 40px 30px;
}

.takeQuiz {
    background-color: $primary;
    display: flex;
    align-items: center;
    
}

.quizContainer {
    width: 68%;
    margin: 0 auto;
    text-align: left;
    & p {
        margin: 25px 0;
        & span {
            display: block;
        }
    }
}

