.tickerHolder {
    padding-bottom: 40px;
    width: 100%;
    background-color: #F2F2F2;
    max-height: 150px;
}

.slick-track {
    display: flex;
    align-items: center;
}

.tickerTape {
    width: 90%;
    padding: 0 30px 0 30px;
    margin-left: 3%;
}

.logos img {
    width: 200px;
    margin: 0 auto;
}