html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 2;
  overflow: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
  font-weight: 200;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 4.5rem;
  font-weight: 200;
}

h2 span {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li:not(.serviceText li) {
  list-style: none;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 8% 0 4%;
}

.siteContainer {
  margin-left: 70px;
}

.gridTime {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 20px;
}

.button {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 12px 15px;
  text-transform: uppercase;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: white;
  color: black;
}

.imgUp {
  position: relative;
  z-index: 0;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.imgUp:hover,
.imgUp:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.slider-frame {
  background-color: #F0DECE;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 445px;
}

.slider-frame .btn {
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-frame .btn.prev {
  left: 0px;
}

.slider-frame .btn.next {
  right: 0px;
}

.slider-frame .slider-container {
  -webkit-transition: margin-left .3s ease, left .5s ease;
  transition: margin-left .3s ease, left .5s ease;
  position: absolute;
  left: 0;
}

.slider-frame .slider-container .slide {
  float: left;
  position: relative;
  top: 0;
  -webkit-transition: width .3s ease, height .3s ease, top .3s ease;
  transition: width .3s ease, height .3s ease, top .3s ease;
}

hr {
  width: 100px;
}

.prev .fa {
  padding-left: 7px;
}

.next .fa {
  padding-left: 12px;
}

.btn {
  cursor: pointer;
}

.sideBar {
  width: 70px;
  height: 100%;
  position: fixed;
  font-size: 1.3rem;
  background-color: white;
  z-index: 100;
}

.imdb {
  font-size: 1.5rem;
}

.burgerContent {
  position: absolute;
  max-height: 0;
  width: 100vw;
  top: 50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 100;
}

.coverUp {
  background-color: #DBAA96;
  position: absolute;
  width: 100vw;
  height: 0;
  top: 0;
  left: 70px;
}

.openTransition {
  -webkit-transition: 0.2s 0.4s all linear;
  transition: 0.2s 0.4s all linear;
}

.closeTransition {
  -webkit-transition: 0.01s 0 all linear;
  transition: 0.01s 0 all linear;
}

input#menu:checked ~ .burgerContent {
  max-height: 100vh;
}

input#menu:checked ~ .coverUp {
  height: 70px;
}

body.navOpen {
  height: 100vh;
  overflow-y: hidden;
}

.topNav {
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20vh 0 0 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #DBAA96;
  text-align: center;
  font-family: Oswald;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

nav {
  width: 100%;
  z-index: 100;
}

.topNav li {
  margin: 10px auto;
}

.navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  margin: 0 auto;
  font-size: 2.3rem;
}

.topNav a:hover,
.topNav a:focus {
  color: white;
}

input#menu {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 50px;
  width: 70px;
  opacity: 0;
  cursor: pointer;
}

.burgs {
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  z-index: 1000;
}

.burg {
  display: block;
  position: absolute;
  z-index: 6;
  background: #2c2c2c;
  height: 1px;
  width: 25px;
  border-radius: 5px;
  left: 20px;
  top: 15px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.burg2 {
  width: 20px;
  top: 23px;
}

.burg3 {
  top: 31px;
}

input#menu:checked ~ .burgs > div.burg1 {
  -webkit-animation: topLine 0.8s linear;
          animation: topLine 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

input#menu:checked ~ .burgs > div.burg2 {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}

input#menu:checked ~ .burgs > div.burg3 {
  -webkit-animation: bottomLine 0.8s Linear;
          animation: bottomLine 0.8s Linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

input#menu:not(:checked) ~ .burgs > div.burg1 {
  -webkit-animation: topLineRev 0.8s linear;
          animation: topLineRev 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

input#menu:not(:checked) ~ .burgs > div.burg2 {
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
  opacity: 1;
}

input#menu:not(:checked) ~ .burgs > div.burg3 {
  -webkit-animation: bottomLineRev 0.8s linear;
          animation: bottomLineRev 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.moreNav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.search button,
.search button:focus {
  background: none;
  border: none;
}

.search button:hover {
  color: #DBAA96;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  height: 100%;
  border-right: 1px solid #ccc;
}

.socialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials a {
  padding: 3px;
  text-align: center;
}

.socials i {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.socials a:hover,
.socials a:focus {
  color: #ce8b70;
}

.subscribeButton {
  position: fixed;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  width: 70px;
  padding: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.4;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
}

@-webkit-keyframes topLine {
  0% {
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 23px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@keyframes topLine {
  0% {
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 23px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@-webkit-keyframes topLineRev {
  0% {
    top: 23px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  15% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes topLineRev {
  0% {
    top: 23px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  15% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottomLine {
  0% {
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottomLine {
  0% {
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottomLineRev {
  0% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  15% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 31px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bottomLineRev {
  0% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  15% {
    top: 23px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  45% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  55% {
    top: 23px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 31px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.heading {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.headingMain {
  background: url(../assets/5DEDE4B4-ECF8-48E7-A2B5-7F65367B3830.jpeg);
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  font-size: 6rem;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 2.2em;
  margin: 0;
  padding: 0;
}

.takeQuiz {
  background-color: #DBAA96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quizContainer {
  width: 68%;
  margin: 0 auto;
  text-align: left;
}

.quizContainer p {
  margin: 25px 0;
}

.quizContainer p span {
  display: block;
}

.aboutImgContainer {
  max-width: 530px;
  margin-left: auto;
  margin-top: 120px;
}

.headingAbout {
  position: relative;
}

.aboutImg {
  padding-top: 50px;
}

.aboutContainer {
  position: absolute;
  left: -48px;
  top: 28%;
}

.greeting {
  background: #DBAA96;
  width: 60%;
  margin: 48px 0px 0px 0px;
  padding: 50px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2;
  font-family: "Work Sans", sans-serif;
}

.greeting p:first-of-type {
  margin-bottom: 28px;
}

.tickerHolder {
  padding-bottom: 40px;
  width: 100%;
  background-color: #F2F2F2;
  max-height: 150px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tickerTape {
  width: 90%;
  padding: 0 30px 0 30px;
  margin-left: 3%;
}

.logos img {
  width: 200px;
  margin: 0 auto;
}

.textBox {
  max-width: 510px;
  padding-top: 40px;
}

.textBox h2 {
  position: relative;
  z-index: 5;
  background: white;
  padding: 30px;
  margin-left: -100px;
  margin-bottom: 28px;
}

.textBox p {
  margin: 0 0 28px;
}

.textBox p:nth-of-type(2) {
  max-width: 485px;
}

.imgBox {
  max-width: 506px;
}

section.services,
section.latestBlog,
section.courses {
  height: 100vh;
}

section.services h2,
section.latestBlog h2,
section.courses h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 44px;
}

section.courses {
  height: auto;
}

section.services,
section.latestBlog,
section.process {
  background-color: #F0DECE;
}

.serviceGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  padding: 0 20px;
}

.eachService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serviceButton {
  background-color: white;
  color: black;
  border: none;
}

.serviceButton:hover {
  color: #ce8b70;
}

.serviceImage {
  position: relative;
  max-width: 322.6px;
}

.serviceImage h3 {
  position: absolute;
  top: 0px;
  left: -30px;
  font-size: 6rem;
  z-index: 99;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 200;
}

.serviceText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serviceText h4 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 30px;
}

.serviceText p {
  width: 90%;
}

.modal-md {
  max-width: 800px;
  margin: 30vh auto;
}

.clientsWidget {
  position: relative;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.clientsWidget h2 {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  font-size: 3.5rem;
  text-align: center;
}

.clientsWidget h2 span {
  display: inline;
}

.clientsWidget h2 span:first-child {
  margin-right: 125px;
}

.clientsWidget h2 span:last-child {
  margin-left: 125px;
}

.clientImage {
  width: 20%;
  padding-top: .5em;
  margin: 0 auto;
}

.clientImage img {
  max-width: 150px;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.clientText {
  margin-bottom: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.name {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.arrows i {
  padding: 3px;
  font-size: 1.9rem;
  cursor: pointer;
}

.arrows i:first-child {
  margin-right: 8px;
}

.arrows i:last-child {
  margin-left: 8px;
}

section.latestBlog h4 {
  margin-bottom: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

section.latestBlog h4:hover, section.latestBlog h4:focus {
  color: #DBAA96;
}

section.latestBlog time {
  font-size: 1.2rem;
}

section.latestBlog p {
  margin-top: 30px;
}

section.courses h2 {
  margin-bottom: 20px;
}

section.courses h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}

section.courses a {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

section.courses a:hover {
  color: #DBAA96;
}

section.courses p {
  text-align: center;
  margin-top: 15px;
  font-size: 1.4rem;
}

section.courses p span {
  text-decoration: line-through;
}

.courseImage {
  margin-bottom: 30px;
}

.splitGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.letterForm {
  width: 60%;
}

.signUp {
  background-color: #DBAA96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signUp p {
  margin: 20px 0;
}

.signUp form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (32%)[3];
      grid-template-columns: repeat(3, 32%);
  grid-gap: 10px;
  width: 100%;
}

.signUp input {
  height: 43px;
  padding: 10.5px 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  line-height: 1.6;
}

.signUp input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
}

.signUp input:-ms-input-placeholder {
  color: black;
  opacity: 1;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
}

.signUp input::-ms-input-placeholder {
  color: black;
  opacity: 1;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
}

.signUp input::placeholder {
  color: black;
  opacity: 1;
  letter-spacing: 2px;
  font-family: "Work Sans", sans-serif;
}

section.contactInfo .container {
  padding-bottom: 20px;
  padding-top: 60px;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
}

.contactFlex h4 {
  font-size: 1.8rem;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.instaWithMe {
  width: calc(65% - 40px);
  padding-right: 40px;
  border-right: 1px solid #ccc;
}

.instaGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 10px 20px;
}

.infoSocial {
  width: calc(35% - 40px);
  padding-left: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infoSocial li {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.aboutMain {
  padding-top: 120px;
}

.aboutMain h2 {
  text-align: center;
  margin-bottom: 40px;
}

.clientRelations {
  height: 75vh;
  background-color: #f2f2f2;
  padding: 100px 0;
}

.relationText {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 60%;
  margin: 0 auto;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 2;
  font-family: "Work Sans", sans-serif;
}

.relationText p {
  display: inline-block;
  text-align: justify;
}

.relationText span {
  font-size: 5rem;
  display: inline-block;
  line-height: 1;
  margin-right: 10px;
  float: left;
}

.canHelp {
  background: #F0DECE;
  padding: 120px 0;
}

.canHelp h2 {
  text-align: center;
  margin-bottom: 20px;
}

.canHelp h3 {
  color: #efcfae;
  font-size: 95px;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.canHelp h4 {
  font-size: 3.5rem;
  letter-spacing: 1.5;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 50%;
  left: 8px;
}

.helpGrid {
  width: 55%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.helpGrid p {
  width: 90%;
  margin-bottom: 28px;
  margin-top: 15px;
}

.helpGrid .button {
  padding: 10px 20px;
}

.titleNum {
  position: relative;
}

.titleNum h3 {
  color: #efcfae;
  font-size: 95px;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.titleNum h4 {
  font-size: 3.5rem;
  letter-spacing: 1.5;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 50%;
  left: 8px;
  opacity: 0.8;
}

.workVideo {
  position: relative;
}

.workVideo .button {
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 1.8rem;
  line-height: 1.8em;
  padding: 15px 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.knowMe {
  padding: 100px 0;
}

.knowMe h2 {
  text-align: center;
  margin-bottom: 30px;
}

.knowMe h5 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.knowMeGrid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 55%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.knowMeGrid h4 {
  top: 49%;
}

.contactInfoAbout .container {
  border-top: 1px solid #ccc;
}

.modalSearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

.searchModalContent {
  padding: 30px;
  background: #DBAA96;
}

.searchModalBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchModalHeader,
.searchModalFooter {
  border: none;
}

.searchSubmit,
.searchSubmit:focus {
  background: none;
  border: none;
}

.searchInput {
  background: none;
  border: none;
  font-size: 1.6rem;
  text-align: left;
  letter-spacing: 2px;
  padding: 0;
  height: 43px;
  line-height: 1.6;
  outline: none;
}

footer p {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Work Sans', sans-serif;
  padding: 10px 0 30px 0;
}
